<template>
    <el-container>
        <el-header class = "title-item">{{textname}}</el-header>
		
		
        <el-main>
            <el-main>
				<!-- 内部文本-->
				<div class="box-card">
					<div class="input-item"><span style="color:aqua;">{{rightText}}</span><span>{{remainText}}</span></div>
					<el-divider></el-divider>
				</div>		
                
            </el-main>
            <el-container>
                <el-aside width="500px">
                    <el-progress type="dashboard" :percentage="percentage" :color="colors"></el-progress>
                </el-aside>

                <el-main>
                    <span class="wrap span">{{str}}</span>
                </el-main>


            </el-container>

            <el-input
                    type="textarea"
                    :autosize="{ minRows: 5, maxRows: 100}"
                    placeholder="请输入内容"
                    v-model="textarea2" v-if="ingame" @input="judge" ref = "input" class="el-input">
            </el-input>
            <el-input
                    type="textarea"
                    :autosize="{ minRows: 5, maxRows: 100}"
                    placeholder="请先开始游戏"
                    v-model="input"
                    :disabled="true" v-if = "outgame" class="el-input">
            </el-input>
            <el-container>
                <el-main>
                    <div class="keyboardBox" id="keyboard" v-if = "ingame">
                        <div class="line gap_t">
                            <div class="keys_d t-a-l" id="192"><div>~</div><div>`</div></div>
                            <div class="keys_d t-a-l" id="49"><div>!</div><div>1</div></div>
                            <div class="keys_d t-a-l" id="50"><div>@</div><div>2</div></div>
                            <div class="keys_d t-a-l" id="51"><div>#</div><div>3</div></div>
                            <div class="keys_d t-a-l" id="52"><div>$</div><div>4</div></div>
                            <div class="keys_d t-a-l" id="53"><div>%</div><div>5</div></div>
                            <div class="keys_d t-a-l" id="54"><div>^</div><div>6</div></div>
                            <div class="keys_d t-a-l" id="55"><div>&amp;</div><div>7</div></div>
                            <div class="keys_d t-a-l" id="56"><div>*</div><div>8</div></div>
                            <div class="keys_d t-a-l" id="57"><div>(</div><div>9</div></div>
                            <div class="keys_d t-a-l" id="48"><div>)</div><div>0</div></div>
                            <div class="keys_d t-a-l" id="189"><div>_</div><div>-</div></div>
                            <div class="keys_d t-a-l" id="187"><div>+</div><div>=</div></div>
                            <div class="keysCmd k-w-80 l-h-40 f-s-14" id="8">Backspace</div>
                        </div>
                        <div class="line">
                            <div class="keysCmd k-w-50" id="9">Tab</div>
                            <div  v-for="item in keyboard_line1" :key="item.id">
                                <div v-if="item.isLight" class="keys" :style="{'background-color':'#00a7d0'}">
                                    {{item.show}}
                                </div>
                                <div v-else class="keys" >{{item.show}}</div>
                            </div>
                            <div class="keys_d t-a-l" id="219"><div>{</div><div>[</div></div>
                            <div class="keys_d t-a-l" id="221"><div>}</div><div>]</div></div>
                            <div class="keys_d k-w-75 t-a-l" id="220"><div>|</div><div>\</div></div>
                        </div>
                        <div class="line">
                            <div class="keysCmd k-w-70 f-s-14" id="20">CapsLock</div>
                            <div  v-for="item in keyboard_line2" :key="item.id">
                                <div v-if="item.isLight" class="keys" :style="{'background-color':'#00a7d0'}">
                                    {{item.show}}
                                </div>
                                <div v-else class="keys" >{{item.show}}</div>
                            </div>
                            <div class="keys_d t-a-l" id="186"><div>:</div><div>;</div></div>
                            <div class="keys_d t-a-l" id="222"><div>"</div><div>'</div></div>
                            <div class="keysCmd key_enter" id="13">Enter</div>
                        </div>
                        <div class="line">
                            <div v-if="shiftItem.isLight" class="keysCmd k-w-100" :style="{'background-color':'#00a7d0'}">
                                {{shiftItem.show}}
                            </div>
                            <!-- shift -->
                            <div v-else class="keysCmd k-w-100">{{shiftItem.show}}</div>
                            <div  v-for="item in keyboard_line3" :key="item.id">
                                <div v-if="item.isLight" class="keys" :style="{'background-color':'#00a7d0'}">
                                    {{item.show}}
                                </div>
                                <div v-else class="keys" >{{item.show}}</div>
                            </div>
                            <!-- zxcvbnm -->
                            <div v-if = "commaItem.isLight"  :style="{'background-color':'#00a7d0'}" class="keys_d t-a-l" id="188"><div>&lt;</div><div>,</div></div>
							<div v-else class="keys_d t-a-l" id="188"><div>&lt;</div><div>,</div></div>
							
                            <div v-if = "periodItem.isLight" :style="{'background-color':'#00a7d0'}" class="keys_d t-a-l" id="190"><div>></div><div>.</div></div>
							<div v-else class="keys_d t-a-l" id="190"><div>></div><div>.</div></div>
							
							
							<div v-if = "qmarkItem.isLight" :style="{'background-color':'#00a7d0'}" class="keys_d t-a-l" id="191"><div>?</div><div>/</div></div>
							<div v-else class="keys_d t-a-l" id="191"><div>?</div><div>/</div></div>
                            <div class="keysCmd k-w-120" id="16">Shift</div>
                        </div>
                        <div class="line">
                            <div class="keys k-w-704" id="32">&nbsp;</div>
                        </div>
                    </div>
                </el-main>

            </el-container>
        </el-main>
        <el-footer>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-button style="width: 110px;" type="primary" round @click="start" v-if = "outgame">
                        开始游戏
                    </el-button>
                    <el-button style="width: 110px;" type="primary" round @click="pause" v-if="ingame">
                        暂停游戏
                    </el-button>
                </el-col>
                <el-col :span="6" :offset="12">
                    <el-button style="width: 110px;"  type="danger" round @click="quitGame" v-if = "outgame">
                        退出
                    </el-button>
                    <el-button style="width: 110px;"  type="danger" round @click="resetGame" v-if = "ingame">
                        再试一次
                    </el-button>
                </el-col>
            </el-row>
        </el-footer>
    </el-container>

</template>

<script>
//import axios from "axios";

export default {
    name: "Type-view",
    data(){
        return {
            h:0,//定义时，分，秒，毫秒并初始化为0；
            m:0,
            s:0,
            ms:0,
            str:'00:00:00',
			      textname:this.$route.params.textName,
            text: this.$route.params.text,
          
            rightText:"",
            remainText: this.$route.params.text,
          
            typeNum:0,
            ingame :false,
            outgame : true,
            textarea2:'',
            textarea:'',
            input:'',
            percentage: 0,
            keyboard_line1:[
                {id:81,show:"Q",isLight:false},
                {id:87,show:"W",isLight:false},
                {id:69,show:"E",isLight:false},
                {id:82,show:"R",isLight:false},
                {id:84,show:"T",isLight:false},
                {id:89,show:"Y",isLight:false},
                {id:85,show:"U",isLight:false},
                {id:73,show:"I",isLight:false},
                {id:79,show:"O",isLight:false},
                {id:80,show:"P",isLight:false},

            ],
            keyboard_line2:[
                {id:65,show:"A",isLight:false},
                {id:83,show:"S",isLight:false},
                {id:68,show:"D",isLight:false},
                {id:70,show:"F",isLight:false},
                {id:71,show:"G",isLight:false},
                {id:72,show:"H",isLight:false},
                {id:74,show:"J",isLight:false},
                {id:75,show:"K",isLight:false},
                {id:76,show:"L",isLight:false},
            ],
            keyboard_line3:[
                {id:90,show:"Z",isLight:false},
                {id:88,show:"X",isLight:false},
                {id:67,show:"C",isLight:false},
                {id:86,show:"V",isLight:false},
                {id:66,show:"B",isLight:false},
                {id:78,show:"N",isLight:false},
                {id:77,show:"M",isLight:false},
            ],
            shiftItem:{id:77,show:"Shift",isLight:false},
			commaItem:{id:188,isLight:false},
			periodItem:{id:190,isLight:false},
			qmarkItem:{id:191,isLight:false},

            colors: [
                {color: '#f56c6c', percentage: 20},
                {color: '#e6a23c', percentage: 40},
                {color: '#5cb87a', percentage: 60},
                {color: '#1989fa', percentage: 80},
                {color: '#6f7ad3', percentage: 100}
            ],
			
			moveTexts:'sadasdas',
        }
    },

    props: {
        msg: String
    },
	
    mounted() {
        console.log("asdasd");
    },
	
    methods:{
        // 开始计时
        start(){  //开始
            this.ingame = true;
            this.outgame = false;
            this.time=setInterval(this.timer,50);
            this.$nextTick(() => {
                this.$refs.input.focus()
            });
            this.changeBoardColor();
            console.log("100");
        },

        pause(){
            this.ingame = false;
            this.outgame = true,
                clearInterval(this.time);
        },

        timer(){                //定义计时函数
            this.ms=this.ms+50;        //毫秒
            if(this.ms>=1000){
                this.ms=0;
                this.s=this.s+1;        //秒
            }
            if(this.s>=60){
                this.s=0;
                this.m=this.m+1;       //分钟
            }
            if(this.m>=60){
                this.m=0;
                this.h=this.h+1;        //小时
            }
            this.str =this.toDub(this.h)+":"+this.toDub(this.m)+":"+this.toDub(this.s);
            //统计共看了多少秒

        },

        toDub(n){  //补0操作
            if(n<10){
                return "0"+n;
            }
            else {
                return ""+n;
            }
        },

        quitGame(){
            {
                this.$confirm('此操作将不会保存您的输入内容, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '退出成功!'
                    });
                    this.$router.push('/')
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });
            }
        },

        resetGame(){
            clearInterval(this.time);
            this.$confirm('此操作将不保存当前记录, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.clearAll();
                this.$message({
                    type: 'success',
                    message: '删除成功!'
                });
            }).catch(() => {
                this.pause();
                this.$message({
                    type: 'info',
                    message: '已取消，点击开始游戏继续'
                });
            });
        },


        judge(){
            var t = this.textarea2.length;
            var i;
            for(i = 0;i < t;i++){
                if(this.textarea2[i] != this.text[i]){
                    this.$notify.error({
                        title: '错误',
                        message: '输入内容错误'
                    });
                    break;
                }
            }
            if(i != t){
                if(i == 0){
                    this.textarea2 = '';
                    this.typeNum = 0;
                }else{
                    this.textarea2 = this.textarea2.slice(0,i);
                    this.typeNum = i;
                }
            } else{
                this.typeNum = i;
            }
            this.percentage = 100*this.typeNum
                /this.text.length;
            this.percentage = parseFloat(this.percentage.toFixed(2));
            this.rightText = this.text.slice(0,this.typeNum);
            this.remainText = this.text.slice(this.typeNum,this.text.length);

            if(this.typeNum == this.text.length){
                this.InitialBoardColor();
                this.submitTime();
            }else{
                this.InitialBoardColor();
                this.changeBoardColor();
            }
        },

        changeBoardColor(){
            var alpha = this.text[this.typeNum];
            var asc;
            // var asc = alpha.charCodeAt() - 32;
            if(alpha >= 'a' && alpha <= 'z'){
                asc = alpha.charCodeAt() - 32;
            } else if(alpha >= 'A' && alpha <= 'Z'){
                this.shiftItem.isLight = true;
                asc = alpha.charCodeAt();
            } else if(alpha == ','){
				this.commaItem.isLight = true;
			} else if(alpha == '.'){
				this.periodItem.isLight = true;
			} else if(alpha == '?'){
				this.qmarkItem.isLight = true;
				this.shiftItem.isLight = true;
			}
			

            for(var i in this.keyboard_line1){
                if(parseInt(this.keyboard_line1[i].id) == asc){
                    this.keyboard_line1[i].isLight = true;
                }
            }
            for(i in this.keyboard_line2){
                if(parseInt(this.keyboard_line2[i].id) == asc){
                    this.keyboard_line2[i].isLight = true;
                }
            }
            for(i in this.keyboard_line3){
                if(parseInt(this.keyboard_line3[i].id) == asc){
                    this.keyboard_line3[i].isLight = true;
                }
            }
        },

        InitialBoardColor(){
            this.shiftItem.isLight = false;
			this.commaItem.isLight = false;
			this.periodItem.isLight = false;
			this.qmarkItem.isLight = false;
            for(var i in this.keyboard_line1){
                this.keyboard_line1[i].isLight = false;
            }
            for(i in this.keyboard_line2){
                this.keyboard_line2[i].isLight = false;
            }
            for(i in this.keyboard_line3){
                this.keyboard_line3[i].isLight = false;
            }
        },

        submitTime(){
            clearInterval(this.time);
			      var times = 3600 * this.h + 60 * this.m + this.s;
            var SubmitTimes = 3600 * this.h + 60 * this.m +this.s;
			      var speed = this.text.length / SubmitTimes;
			
            this.$confirm('本次时间为'+ times +'s,是否提交成绩', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '重试',
                type: 'success'
            }).then(() => {
                this.clearAll();
            var star;
            if(speed <= 2){
              star = 0;
            }else if(speed > 2 && speed <= 2.5){
              star = 1;
            }else if(speed > 2.5 && speed <= 3){
              star = 2;
            }else{
              star = 3;
            }
            
              this.$axios.Post('/prac/finish_practice', {
                  text_name:this.textname,
                  time:SubmitTimes,
              }).then(() => {
                this.$router.push({name:'practice',params:{star:star,time:SubmitTimes}});
                this.$message({
                    type: 'success',
                    message: '提交成功!',
                });
              }).catch(() => {
                this.$message({
                  message: '提交失败',
                  type: 'error'
                });
              })
				
            }).catch(() => {
                this.clearAll();
                this.$message({
                    type: 'info',
                    message: '再来一次'
                });
            });
        },

        clearAll(){
            this.h = 0;//定义时，分，秒，毫秒并初始化为0；
            this.m = 0;
            this.s = 0;
            this.ms = 0;
            this.str = '00:00:00';

            this.text = this.$route.params.text;
            this.rightText = "";
            this.remainText = this.$route.params.text;
            this.typeNum = 0;

            this.ingame = false;
            this.outgame = true;
            this.textarea2 = '';
            this.percentage = 0;
            this.InitialBoardColor();
        },
		
		moveText() {
		      // 箭头函数解决 this 指向问题
		    setInterval(() => {
				var start = this.moveTexts.slice(0, 1)
				var end = this.moveTexts.slice(1)
				this.moveTexts = end + start
			}, 400)
		},
		
		
		

    },
	created() {
	    this.moveText()
	},
	
}
</script>

<style scoped>

.el-header, .el-footer {

    color: #333;
    text-align: center;
    line-height: 60px;
}


.el-main {
    background-color: beige;
    color: #333;
    text-align: center;
    line-height: 100px;
}

body > .el-container {
    margin-bottom: 400px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.input-item{
    padding: 18px 5px;
    font-size:25px;
    font-family: "Helvetica Neue";
    line-height:1.5
}

.title-item{
    font-size:30px;
    font-weight:bold;
}

.box-card {
    border: #333;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.wrap{
    background-color: darkcyan;
    border: pink solid;
    min-height: 100px;
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: 50px auto;
}

.span{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


.keyboardBox{
    position: fixed;
    margin: 0 auto;
    top: 50%; left: 25%;
    width: 708px;
    height: 256px;
    margin: 0;
    padding: 10px;
    background-color: #ccc;
    font-size: 16px;
}

.line{
    position: relative;
    height: 50px;
    line-height: 50px;
}

.keys, .keysCmd, .keys_d{
    box-sizing: border-box;
    float: left;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 0 3px 3px;
    border-radius: 4px;
    border: 1px solid #333;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

.keys:hover, .keysCmd:hover, .keys_d:hover{
    box-shadow: 0px 0px 3px #333 inset;
}

.keys:active, .keysCmd:active, .keys_d:active{
    background-color: #dedede;
}

.active{
    background-color: #dedede;
    box-shadow: 0px 0px 3px #333 inset;
}

.keys_d{
    height: 45px;
    line-height: 20px;
}

.key_enter{
    width: 102px;
}
.k-w-50{
    width: 50px;
}

.k-w-70{
    width: 70px;
}

.k-w-75{
    width: 75px;
}

.k-w-80{width: 80px;}

.k-w-100{width: 100px;}

.k-w-120{width: 120px;}

.k-w-704{width: 704px;}

.gap{margin-left: 30px;}

.gap_t{margin-top: 10px;}

.line .l-h-40{line-height: 40px;}

.f-s-14{font-size: 14px;}

.t-a-l{
    padding-left: 15px;
    text-align: left;
}



</style>