<template>
  <button class="hand-drawn-button" @click="handleClick">
    <span>{{ value }}</span>
  </button>
</template>

<script>
export default {
  name: 'HandDrawnButton',
  props: {
    value: {
      type: String,
      default: '',
    },
    route: {
      type: String,
      default: '',
    }
  },
  data() {
    return {
    };
  },
  methods: {
    handleClick() {
      this.$router.push(this.route)
    },
  },
};
</script>

<style>
.hand-drawn-button {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hand-drawn-button:hover {
  transform: translateY(-5px);
}

.hand-drawn-button.active {
  background-color: #333;
  color: #f4f4f4;
}

.hand-drawn-button.active::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-repeat: repeat;
  z-index: -1;
}
</style>
