<template>
  <div class="top">
    <div class="star-text-container">
      <div class="stars">
        <span v-for="n in 3" :key="n" class="star" :class="{ filled: n <= stars, falling: n <= fallingStars, landed: n <= landedStars }">&#9733;</span>
      </div>
      <p class="text animate-slide-in">
        耗时{{time}}s
      </p>
    </div>
    <div style="padding-top: 150px">
      <span style="padding-right: 300px">
        <hand-drawn-button value="重新挑战" route="./"/>
      </span>
      <span>
        <hand-drawn-button value="下一关" route="./"/>
      </span>
    </div>
  </div>
</template>

<script>
import HandDrawnButton from "@/components/HandDrawnBut";
export default {
  components: {
    HandDrawnButton,
  },
  data() {
    return {
      stars: this.$route.params.star, // 默认展示两颗星星
      fallingStars: 0, // 控制掉落的星星数量
      landedStars: 0, // 控制已经落地的星星数量
      time: this.$route.params.time,
    };
  },
  mounted() {
    // 开始动画
    this.startAnimation();
  },
  computed: {
  },
  methods: {
    startAnimation() {
      // 模拟星星掉落动画
      setTimeout(() => {
        this.fallingStars = 1;
      }, 500);
      setTimeout(() => {
        this.fallingStars = 2;
      }, 1000);
      setTimeout(() => {
        this.fallingStars = 3;
      }, 1500);
      // 模拟星星落地弹动动画
      setTimeout(() => {
        this.landedStars = 1;
      }, 1000);
      setTimeout(() => {
        this.landedStars = 2;
      }, 1500);
      setTimeout(() => {
        this.landedStars = 3;
      }, 2000);
    }
  }
};
</script>

<style scoped>
.top {
  width: 100vw;
  height: 100vh;
}

.star-text-container {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  margin-right: 150px;
}

.star {
  color: #ccc;
  font-size: 70px;
  margin-right: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  top: -300px;
  transition: top 1s cubic-bezier(0.25, 0.75, 0.5, 1.5); /*将持续时间增加到2秒，并使用自定义cubic-bezier函数*/
}

.star.falling {
  top: 0px;
  transition-duration: 0.5s; /*在下落过程中使用更短的持续时间，使其加速*/
}


.star.falling {
  top: 0px;
}

.star.landed {
  animation: bounce 0.5s ease-out;
  animation-fill-mode: forwards; /* 元素在动画结束时保持在最后一个关键帧的状态 */
  animation-duration: 0.5s; /* 动画执行时长为 1s */
}

.filled {
  color: #ffc543;
}

.text {
  font-size: 25px;
  color: #333;
  width: 400px;
}
.animate-slide-in {
  opacity: 0;
  transform: translateX(-100%);
  animation: slide-in 0.5s ease-out forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes bounce {
  0% {
    top: -2px
  }
  25% {
    top: -25px
  }
  50% {
    top: 0px
  }
  75% {
    top: -10px
  }
  100% {
    top: 0px
  }
}
</style>

