<template>
  <div class="top">
    <div class="container">
      <div class="table-container">
        <table class="table">
          <thead>
          <tr class="row-head">
            <th>排名</th>
            <th>用户名</th>
            <th>耗时/s</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(row, index) in tableData" :key="row.id" :class="index % 2 == 0 ? 'odd-row' : 'even-row'">
            <td>{{index+1}}</td>
            <td>{{ row.userName }}</td>
            <td>{{ row.minTime }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="text-container">
        <p class="text animate-slide-in">
          耗时{{time}}s<br><br>
        </p>
      </div>
    </div>
    <div style="padding-top: 50px">
      <span style="padding-right: 300px">
        <hand-drawn-button value="重新挑战" route="./"/>
      </span>
      <span>
        <hand-drawn-button value="重新挑战" route="./"/>
      </span>
    </div>
  </div>
</template>

<script>
import HandDrawnButton from "@/components/HandDrawnBut";
import axios from "axios";

export default {
  components: {
    HandDrawnButton,
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.getRank();
    });
  },
  methods: {
    getRank() {
      axios.get('/rank/get_rank').then(response => {
        this.tableData = response.data.data.top3;
        this.rank = response.data.data.rank;
        this.time = response.data.data.minTime;
      }).catch(error => {
        console.log(error);
      });
    }
  },
  data() {
    return {
      rank:0,
      time:100,
      tableData: [
        {userName:'xiaoming',minTime:'1'}
      ]
    };
  }
};
</script>

<style scoped>

.top {
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.table-container {
  width: 50%;
  margin-right: 20px;
  padding-left: 150px;
}

.text-container {
  width: 40%;
  padding-left: 20px;
}

.table {
  width: 450px;
  border-collapse: collapse; /* 合并单元格边框 */
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}
.row-head {
  background-color: #e6e6e6;
}

.odd-row {
  background-color: #f2f2f2;
}

.even-row {
  background-color: #e6e6e6;
}

.text {
  font-size: 20px;
  color: #333;
  width: 400px;
}
.animate-slide-in {
  opacity: 0;
  transform: translateY(-100%);
  animation: slide-in 0.5s ease-out forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

</style>
