<template>
  <div class="top">
    <div class="container">
      <div class="flex-container">
        <div class="title">
          所有日期统计：
        </div>
        <div>
          <table>
            <tr>
              <td>练习篇数：{{cntTotal}}</td>
              <td>练习天数：1</td>
              <td>正确率：100%</td>
            </tr>
          </table>
        </div>
        <div class="title">
          本日统计：
        </div>
        <div>
          <table>
            <tr>
              <td>练习篇数：10</td>
              <td>获得星级：20</td>
              <td>正确率：100%</td>
            </tr>
          </table>
        </div>
        <div class="title">
          练习日程图：
        </div>
        <div class="chart-border">
          <div class="chart">
            <canvas ref="lineChart" style="height: 400px;"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top: 50px">
      <hand-drawn-button value="返回" route="./"/>
    </div>
  </div>
</template>

<script>
import * as Chart from 'chart.js';
import HandDrawnButton from "@/components/HandDrawnBut";
import axios from "axios";
export default {
  components: {
    HandDrawnButton,
  },
  data() {
    return {
      cntTotal:1,
      labels:[],
      data:[],
    }
  },
  mounted() {
    this.getUserStat()
  },
  methods: {
    getUserStat() {
      this.labels = [];
      this.data = [];
      axios.get('/stat/get_user_stat').then(response => {
        this.$cookies.set("token","GH1.1.1689020474.1484362313","30MIN");
        console.log(response.data)
        this.cntTotal = response.data.data.cntTotal;
        for (let i = 0; i < 4; i++) {
          this.labels.push(response.data.data.cntRecent[i].date);
          this.data.push(response.data.data.cntRecent[i].cnt);
        }
        const canvas = this.$refs.lineChart;
        const ctx = canvas.getContext('2d');
        const data = {
          labels:this.labels,
          datasets: [
            {
              data:this.data,
              borderColor: 'grey',
              fill: false
            }
          ]
        };
        const options = {
          responsive: true,
          legend: {
            display: false
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  precision: 0
                }
              }
            ]
          },
          maintainAspectRatio: false,
          height: 200,
          width: 400
        };
        console.log(data.labels)
        console.log(data.datasets.data)
        new Chart(ctx, {
          type: 'line',
          data: data,
          options: options
        });
      }).catch(error => {
        console.log(error);
      });
    },
  }
};
</script>

<style scoped>
.top {
  height: 200vh;
  width: 100vw;
}
.container::before {
  content: "";
  position: absolute;
  top: 50px;
  bottom: -370px;
  width: 3px;
  background-color: #ccc;
  left: 100px;
}
.container::after {
  content: "";
  position: absolute;
  top: 50px;
  bottom: -370px;
  width: 3px;
  background-color: #ccc;
  right: 100px;
}

.container {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-border {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.chart {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}

.title {
  padding-top: 30px;
  padding-right: 750px;
  font-size: 20px;
}

table {
  width: 800px;
  height: 100px;
  border-collapse: collapse;
  margin: 20px 0;
}


td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}


</style>
