<template>
    <div style="text-align: center">
        <h1 class="mt-5">关卡选择</h1>

        <div class="d-flex justify-content-around mb-5" >
            <el-button @click="back">返回</el-button>
            <span/>
            <el-button @click="sure">确定</el-button>
        </div>

        <el-radio-group v-model="selectLevelID" class="container" style="text-align: center" >
            <el-radio-button border v-for="item in levelInfo"
                             :key="item.level_id"
                             :disabled="item.level_star<=-1"
                             :label="item.level_id"
                             class="mt-2 mr-3" style="left: 3%">
                <h5>{{ item.level_name }}</h5>
                <h1 class="el-icon-star-off" v-show="item.level_star!==-1"/>
                <h1 class="el-icon-lock" v-show="item.level_star===-1"/>
                <el-rate v-model="item.level_star" :max="3" disabled/>
                <p/>
                <span>关卡{{item.level_id}}</span>
            </el-radio-button>

        </el-radio-group>

    </div>
</template>

<script>
export default {
    name: "Content-comp",
    props: {
        levelInfo: Array,
    },
    emits:['contentChoose'],
    data() {
        return {
            selectLevelID: '',
        }
    },
    mounted() {
        console.log(this.selectLevelID)
    },
    methods: {
        back(){
            console.log('back')
            this.$emit('contentChoose',-1)
        },

        sure(){
            if(this.selectLevelID===''){
                this.$message({
                    message:'未选择关卡',
                    type:'error'
                });

            }else{
                console.log('sure')
                this.$emit('contentChoose',this.selectLevelID)
            }

        }


    }
}
</script>

<style scoped>
.container{
    display:flex;
    flex-wrap:wrap;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}


.mw-100 {
    max-width: 100% !important;
}

.mh-100 {
    max-height: 100% !important;
}

.min-vw-100 {
    min-width: 100vw !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}
</style>