<template>
    <div class="vw-100 vh-100">
        <div class="h-10 vw-100" style="position: relative">
            <div v-show="loginFlag" style="left:92% ; top: 15%;position: absolute">
                <el-button class="mr-5" style="font-size: 20px" type="text" @click="dialogVisible=true">登录</el-button>
            </div>

            <div v-show="!loginFlag" style="left:92% ; top: 20%;position: absolute">
                <el-dropdown trigger="click" @command="logOut">
                    <el-avatar :src="'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'"/>
                    <el-dropdown-menu slot="dropdown" style="text-align: center">
                        {{ user_name }}
                        <el-dropdown-item :divided="true" command="logout">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>

            </div>
            <el-dialog
                    :append-to-body="true"
                    :title="loginOrRegister ? '登录' : '注册' "
                    :visible.sync="dialogVisible"
                    width="30%">
                <div v-show="loginOrRegister">
                    <el-form ref="loginForm" :model="loginForm" label-width="80px">
                        <el-form-item label="用户名">
                            <el-input v-model="loginForm.user_name"/>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="loginForm.password" show-password/>
                        </el-form-item>
                    </el-form>

                    <span slot="footer" class="d-flex justify-content-around">
                    <el-button @click="loginOrRegister=false">注册</el-button>
                    <el-button @click="dialogVisible=false">取 消</el-button>
                    <el-button type="primary" @click="logIn">确 定</el-button>
                </span>
                </div>

                <div v-show="!loginOrRegister">
                    <el-form ref="loginForm" :model="registerForm" label-width="80px">
                        <el-form-item label="用户名">
                            <el-input v-model="registerForm.user_name"/>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="registerForm.password" show-password/>
                        </el-form-item>
                    </el-form>

                    <span slot="footer" class="d-flex justify-content-around">
                    <el-button @click="loginOrRegister=true">登录</el-button>
                    <el-button @click="loginOrRegister=true">取 消</el-button>
                    <el-button type="primary" @click="signUp">确 定</el-button>
                </span>
                </div>

            </el-dialog>
        </div>

        <content-comp v-if="selectContent" :level-info="contentChoose"
                      @contentChoose="dealContentChoose"></content-comp>

        <div v-show="!selectContent" class="h-90">
            <div class="d-flex h-100" style="">
                <div class="w-75 d-flex justify-content-center align-items-center flex-column"
                     style="">
                    <el-carousel ref="main-carousel" :autoplay=false :initial-index=0 :loop="false" arrow="never"
                                 class="w-75 mt-5" trigger="click" type="card"
                                 @change=carouselChange>
                        <el-carousel-item v-for="item in contents" :key="item.value" class="d-flex flex-column"
                                          style="background-color: #fff">
                            <el-card class="h-100">
                                <div slot="header">
                                    {{ item.level_name }}
                                </div>
                                {{ item.content }}
                            </el-card>
                            <p/>
                            <p>关卡 {{ item.level_id }}</p>
                        </el-carousel-item>
                    </el-carousel>

                    <el-button class="mt-5"
                               @click="$router.push({name:'typeview',params:{textName:contents[contents_value].level_name,text:contents[contents_value].content}})">
                        开始
                    </el-button>
                </div>

                <div class="w-25 d-flex flex-column justify-content-center align-items-center"
                     style="">
                    <el-select v-model="modes_value" class="mt-5" @change="modesSelectChange">
                        <el-option
                                v-for="item in modes"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>

                    <div v-show="modes_value==='1'" class="mt-5">
                        <el-select v-model="types_value">
                            <el-option
                                    v-for="item in types"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>

                        <el-button class="mt-5" style="width: 70%" type="primary" @click="selectContent=true">关卡选择
                        </el-button>
                    </div>
                    <el-button class="mt-5 mb-5" style="width: 58%" type="primary" @click="$router.push('/user')">数据统计
                    </el-button>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ContentComp from "@/components/Homepage/Content-comp.vue";
import router from "@/router";

export default {
    name: "Homepage-view",
    components: {ContentComp},
    data() {
        return {
            selectContent: false,
            mainInfo: false,
            dialogVisible: false,
            loginOrRegister: true,
            loginFlag: true,

            modes: [{
                value: '1',
                label: '经典模式'
            }, {
                value: '2',
                label: '挑战模式'
            }],
            modes_value: '1',

            types: [{
                value: '1',
                label: '英语'
            }, {
                value: '2',
                label: '中文'
            }],
            types_value: '1',

            contentChoose: [],

            contents: [],
            contents_value: 0,

            contents_classic: [],

            contents_challenge: [],

            loginForm: {
                user_name: '',
                password: '',

            },
            user_name: '',
            registerForm: {
                user_name: '',
                password: '',
            },


        }
    },
    created() {
        // this.initDataAll()
        this.checkIfLogin();

    },
    methods: {
        router() {
            return router
        },
        dealContentChoose(id) {
            console.log(id);
            this.selectContent = !this.selectContent;

            if (id !== -1) {
                let idx = 0;
                for (let i = 0; i < this.contents.length; i++) {
                    if (this.contents[i].level_id == id) {
                        break;
                    }
                    idx++;
                }
                this.$refs["main-carousel"].setActiveItem(idx)
            }
        },

        carouselChange(now, prev) {
            console.log("索引切换: " + prev + "--->" + now);
            this.contents_value = now;
            this.checkForContent();
        },

        modesSelectChange(now) {
            if (now === '1') {
                this.contents = this.contents_classic;
            } else {
                this.contents = this.contents_challenge;
            }
        },

        logOut() {
            this.loginFlag = true;
        },

        logIn() {
            this.$axios.Post('/user/login', {
                userName: this.loginForm.user_name,
                password: this.loginForm.password
            }).then((res) => {
                console.log(res);
                if (res.state === 200) {
                    this.$message({
                        message: '恭喜你，登录成功',
                        type: 'success'
                    });
                    this.dialogVisible = false;
                    this.user_name = this.loginForm.user_name;
                    this.loginFlag = false;
                    sessionStorage.clear()
                    sessionStorage.user=this.user_name
                    this.initDataAll();
                } else {
                    this.$message({
                        message: '登录失败',
                        type: 'error'
                    });
                }

            }).catch(() => {
                this.$message({
                    message: '登录失败',
                    type: 'error'
                });
            })

        },

        signUp() {
            this.$axios.Post('/user/reg', {
                userName: this.registerForm.user_name,
                password: this.registerForm.password
            }).then((res) => {
                console.log(res);
                if (res.state === 200) {
                    this.$message({
                        message: '恭喜你，注册成功',
                        type: 'success'
                    });
                    this.loginOrRegister = true;
                } else {
                    this.$message({
                        message: '注册失败',
                        type: 'error'
                    });
                }

            }).catch(() => {
                this.$message({
                    message: '注册失败',
                    type: 'error'
                });
            })
        },

        initDataAll() {
            let data = [];
            this.$axios.Get('stage/get_stages').then((res) => {
                data = res.data;
                this.contents_classic = data.filter((item)=>(item.stageStar>-1)).map(this.createContent_classic)
 
                this.contentChoose = data.map(this.createContentChoose)
                this.contents = this.contents_classic;
                this.checkForContent();
            })

            this.$axios.Get('rank/get_rank').then(res=>{
                let text_name=res.data.rankTextName
                this.$axios.Get("text/get_text/"+text_name).then(
                    res2 => {
                        this.contents_challenge=[{value:0,level_id:'',level_name:text_name,content:res2.data}]
                    }
                )
            })
        },
        createContent_classic(item, index) {
            return {value: index, level_id: item.stageId, level_name: item.textName, content: ''}

        },
        createContentChoose(item) {
            return {level_id: item.stageId, level_name: item.textName, level_star: item.stageStar}
        },

        checkForContent() {
            let idx = this.contents_value;
            if (this.contents[idx].content === '') {
                this.$axios.Get("text/get_text/" + this.contents[idx].level_name).then(
                    res => {
                        this.contents[idx].content = res.data
                    }
                )

            }
            if (idx > 0) {
                if (this.contents[idx-1].content === '') {
                    this.$axios.Get("text/get_text/"+this.contents[idx-1].level_name).then(
                        res => {
                            this.contents[idx-1].content = res.data
                        }
                    )

                }
            }
            if (idx < this.contents.length - 1) {
                if (this.contents[idx+1].content === '') {
                    this.$axios.Get("text/get_text/"+this.contents[idx+1].level_name).then(
                        res => {
                            this.contents[idx+1].content = res.data
                        }
                    )

                }
            }
        },
        checkIfLogin(){
            if(sessionStorage.user){
                this.loginFlag = false;
                this.user_name=sessionStorage.user
                this.initDataAll();
            }
        }
    },



}
</script>

<style scoped>
.h-10 {
    height: 10%;

}

.h-90 {
    height: 90%;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.w-auto {
    width: auto !important;
}

.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.h-auto {
    height: auto !important;
}

.mw-100 {
    max-width: 100% !important;
}

.mh-100 {
    max-height: 100% !important;
}

.min-vw-100 {
    min-width: 100vw !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.vw-100 {
    width: 100vw !important;
}

.vh-100 {
    height: 100vh !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mt-1,
.my-1 {
    margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
    margin-left: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
    margin-right: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
    margin-left: 3rem !important;
}
</style>